.skills-contenedor {
    background-color: #212529;
    padding-bottom: 3rem;
}

.subtitulo-skills {
    text-align: center;
    color: #ced4da;
    padding-top: 3rem;
    text-transform: uppercase;
    font-size: 3rem;
}

.contenedor-logos {
    margin-top: 2rem;
    display: grid;
    gap: 4rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
}

.skills-card {
    text-align: center;
}

.skills-card h4 {
    color: #ced4da;
    padding-top: .5rem;
    font-size: 1rem;
}

.logos {
    width: 60px;
    height: 60px;
}

.logos:hover {
    transform: scale(1.1,1.1);
    transition: ease-in-out .3s;
}

@media (max-width: 768px) {
    .contenedor-logos {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 1fr 1fr;
    }
}

@media (max-width: 640px) {
    .contenedor-logos {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
}