.contenedor-principal {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor-titulo-home {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contenedor-principal h1 {
    text-transform: uppercase;
    font-size: 5rem;
    font-weight: normal;
    color: #ced4da;
}

.contenedor-principal p {
    text-transform: uppercase;
    font-size: 4.5rem;
    color: #ced4da;
}

.home-botones {
    margin-top: 2rem;
    display: flex;
    gap: 3rem;
}

.home-botones button {
    padding: 1rem 1.5rem;
    font-size: 1.2rem;
    border-radius: .5rem;
    background-color: #ced4da;
    color: #212529;
    border: none;
}

.home-botones a {
    text-decoration: none;
    color: #212529;
}

.linkedin-home-btn {
    color: #212529;
    text-decoration: none;
}

.home-botones button:hover {
    transform: scale(1.1,1.1);
    transition: .4s ease-in-out;
}

@media (max-width: 1024px) {
    .contenedor-principal h1 {
        font-size: 3.2rem;
    }
    .contenedor-principal p {
        font-size: 3rem;
    }
}

@media (max-width: 768px) {
    .contenedor-principal h1 {
        font-size: 2.5rem;
    }
    .contenedor-principal p {
        font-size: 2.3rem;
    }
}

@media (max-width: 640px) {
    .contenedor-principal h1 {
        font-size: 2rem;
    }
    .contenedor-principal p {
        font-size: 1.8rem;
    }
}

@media (max-width: 360px ) {
    .contenedor-principal h1 {
        font-size: 1.2rem;
    }
    .contenedor-principal p {
        font-size: 1rem;
    }
}