.subtitulo-certificado {
    text-align: center;
    color: #212529;
    padding-top: 3rem;
    text-transform: uppercase;
    font-size: 3rem;
}
.contenedor-certificados {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

.contenedor-certificados img {
    width: 90%;
    height: 90%;
}