.subtitulo {
    text-align: center;
    margin-top: 3rem;
    text-transform: uppercase;
    font-size: 3rem;
}

.contenedor-sobremi {
    display: flex;
    justify-content: space-around;
}

.contenedor-texto-sobremi {
    width: 50%;
    margin-top: 2rem;
    font-size: 1.3rem;
    line-height: 1.8rem;
    margin-bottom: 4rem;
}

